<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: head"></head>
    <meta charset="UTF-8">
    <title>Provinces</title>
<body>
<h3>Province</h3>
<p>
    <button class="button btn-outline-primary">
        <a th:href="@{/create-province}">
            Add new Province
        </a>
    </button>
</p>
<div class="notify">
    <!--/*@thymesVar id="success" type="AppConfiguration"*/-->
    <div th:if="${success}">
        <h1 style="color: red" th:text="${success}"></h1>
    </div>
</div>
<table border="1" id="customer">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="province : ${provinces}">
        <tr>
            <td th:text="${province.name}"></td>
            <td><a th:href="@{/edit-province/__${province.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-province/__${province.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>
