<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3> Confirm to delete ? </h3>
    <form th:action="@{/customer/delete}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="name">Customer Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" readonly/>
        </div>
        <div class="form-group">
            <label for="code">Customer Code</label>
            <input type="text" class="form-control" id="code" th:field="*{customerCode}" readonly>
        </div>
        <input class="btn btn-danger" type="submit" name="submit" value="Delete"/>
        <input class="btn btn-primary" type="submit" name="submit" value="Cancel"/>
    </form>
</div>
</body>
</html>