<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Blog's detail</h3>
<p>
    <a th:href="@{/static}">
        Back to blog list
    </a>
</p>
<div>
<table id = "blog">
    <thead>
    <tr>
        <th th:text="${blog.blogName}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${blog.content}"></td>
    </tr>
    <tr>
        <td th:text="${blog.category.name}"></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{'/edit/'+${blog.id}}">edit |</a>
            <a th:href="@{'/delete/'+${blog.id}}">delete |</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>