<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: head"></head>
    <meta charset="UTF-8">
    <title>Category</title>
<body>
<h3>Province</h3>
<p>
    <button class="button btn-outline-primary">
        <a th:href="@{/create-category}">
            Add new category
        </a>
    </button>
</p>
<div class="notify">
    <!--/*@thymesVar id="success" type="AppConfiguration"*/-->
    <div th:if="${success}">
        <h1 style="color: red" th:text="${success}"></h1>
    </div>
</div>
<table border="1" id="customer">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="cate : ${category}">
        <tr>
            <td th:text="${cate.name}"></td>
            <td><a th:href="@{/edit-category/__${cate.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${cate.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<a th:href="@{'/category'(page=${category.number - 1})}" th:ì="${category.hasPrevious()}">Previous</a>
<span th:text="${category.number + 1}"></span>/<span th:text="${category.totalPages}"></span>
<a th:href="@{'/category'(page=${category.number + 1})}" th:ì="${category.hasNext()}">Next</a>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>
